<h1>All Kittens </h1>

<% @kittens.each do |kitten| %>
  <h3> Name: <%= kitten.name %> </h3>
  <%= render 'details', kitten: kitten%>
  <%= link_to 'Delete', kitten_path(kitten), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <br>
  <%= link_to 'Edit', edit_kitten_path(kitten), method: :edit %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= link_to  'New Kitten', new_kitten_path %>