<h1> Add a New Kitten </h1>

<%= form_with model: @kitten do |f| %>
  <%= render 'form', f: f%>
  <%= submit_tag 'Add Kitten' %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= link_to "Home", root_url%>
